@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #c68230;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

img html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header h1 {
    color: var(--main-color);
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 2rem;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 20px;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#services-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.about .row {
    display: flex;
    align-items: center;
    background: #494747;
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box {
    padding: 3rem;
    text-align: center;
    border: var(--border);
}

.services .box-container .box img {
    height: 20rem;
    width: 30rem;
}

.services .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.services .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.services .box-container .box:hover {
    background: #fff;
}

.services .box-container .box:hover>* {
    color: var(--black);
}

.driver .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.driver .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.driver .box-container .box .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: .3rem;
}

.driver .box-container .box .icons a:hover {
    background: var(--main-color);
}

.driver .box-container .box .image {
    padding: 2.5rem 0;
}

.driver .box-container .box .image img {
    height: 25rem;
}

.driver .box-container .box .content h3 {
    color: #fff;
    font-size: 2.5rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.driver .box-container .box .content .stars {
    padding: 1rem;
}

.driver .box-container .box .content .stars i {
    font-size: 2rem;
    color: #eef20e;
}

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 4rem 2rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
    text-align: justify;
}

.review .box-container .box .user {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.footer {
    background: var(--black);
    text-align: center;
}

.footer .share {
    padding: 2rem 0;
}

.footer .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2.5rem;
    color: rgb(242 242 242 / 98%);
    border: var(--border);
    margin: .5rem;
    border-radius: 100%;
}

.footer .share a:hover {
    background-color: var(--main-color);
}

.footer .credit {
    font-size: 1.5rem;
    color: white;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}